<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/layui/css/layui.css" th:href="@{/layui/css/layui.css}">
    <script src="/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <link rel="stylesheet" href="/styles/default.css" th:href="@{/styles/default.css}">
    <script src="../src/layui.js" th:src="@{/layui/layui.js}"></script>
    <style>
        .layui-elem-field {
            margin-bottom: 70px;
        }

        .layui-form-select dl dd.layui-this {
            background-color: #00c0ef;
            color: #fff;
        }
        #filename{
            width: 200px;
            margin: -48px 0 0 470px;
        }
    </style>
</head>
<body>

<fieldset class="layui-elem-field" style="margin-top: 20px;height: 200px">
    <legend style="font-size: 15px;">上传代码风格</legend>
    <div class="layui-row">
        <div class="layui-col-xs12">
            <form class="layui-form layui-form-pane" style="margin: 20px 0 0 20px;" action="">
                <div class="layui-form-item">

                    <div class="layui-input-block">
                        <form class="layui-form" action="">
                            <div class="layui-inline" style="margin: 20px 0 10px 190px;">
                                <label class="layui-form-label" style="width: 114px;margin-right: 38px;">代码风格</label>
                                <div class="layui-input-inline" style="width: 325px;">
                                    <select name="modules" lay-verify="required" lay-search="" id="moduleselect">
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </form>
                <div >
                    <button type="button" class="layui-btn" id="test3" style="background-color: #00c0ef;margin: 0 0 10px 320px"><i class="layui-icon"></i>上传文件</button>
                    <input type="text" id="filename" name="title"  class="layui-input" autocomplete="off" placeholder="上传 *.xml 文件">
                    <button type="button" class="layui-btn" id="uploadPicBtn" style="background-color: #00c0ef;margin: -50px 0 10px 703px;">开始上传</button>
                </div>
    </div>
    </div>

</fieldset>

<fieldset class="layui-elem-field" style="margin-top: 20px;">
    <legend style="font-size: 15px;">项目配置</legend>
    <div class="layui-row">
        <div class="layui-col-xs12">
            <form class="layui-form" action="">
                <div class="layui-inline" style="margin:  20px 0 10px 10px;">
                    <div class="layui-input-inline">
                        <select name="modules" lay-verify="required" lay-search="">
                            <option value="">直接选择或搜索选择</option>
                            <option value="1">layer</option>
                            <option value="2">form</option>
                        </select>

                        <button class="layui-btn" lay-submit="" lay-filter="demo1" style="background-color: #00c0ef;margin-top: 15px;">立即提交</button>

                        <button type="reset" class="layui-btn layui-btn-primary" style="margin-top: 15px;">重置</button>

                    </div>
                </div>
            </form>
        </div>
    </div>
</fieldset>

<script>
    $(document).ready(function () {
        $.ajax({
            url: '/core/getCodeStyles',
            type: 'get',
            async: false,
            dataType: 'json',
            success: function (res) {
                if(res.code === 200){
                    var select = document.getElementById("moduleselect");
                    for(var i=0;i<res.data.length;i++){
                        var opt = document.createElement("option")
                        opt.innerHTML = res.data[i].codeName
                        select.options.add(opt)
                    }
                }
                if(res.code === 403){
                    layer.msg("没有配置文件",{icon:5})
                }
            },
            error: function (e) {
            }
        });
    })
    layui.use('upload', function () {
        var upload = layui.upload, $ = layui.jquery;
        var uploadInst = upload.render({
            elem: '#test3'
            ,url: '/core/uploadCodeStyle'
            , auto: false
            , accept: 'file' //普通文件
            , exts: 'xml'
            ,choose: function(obj){  //上传前选择回调方法
                obj.preview(function(index,file,result){
                    var filename = file.name;
                    $('#filename').val(filename);
                    //layer.msg(file.name)
                    console.log(filename)
                });
            }
            , bindAction: '#uploadPicBtn'

            , done: function (res) {
                console.log(res)
            }
            ,
        });

    });

    layui.use(['form', 'layedit', 'laydate'], function () {
        var form = layui.form
            , layer = layui.layer
            , layedit = layui.layedit
            , laydate = layui.laydate;

        //创建一个编辑器
        var editIndex = layedit.build('LAY_demo_editor');

        //自定义验证规则
        /*form.verify({
            title: function (value) {
                if (value.length < 5) {
                    return '标题至少得5个字符啊';
                }
            }
            , pass: [
                /^[\S]{6,12}$/
                , '密码必须6到12位，且不能出现空格'
            ]
            , content: function (value) {
                layedit.sync(editIndex);
            }
        });*/

        //监听指定开关
        /*form.on('switch(switchTest)', function(data){
            layer.msg('开关checked：'+ (this.checked ? 'true' : 'false'), {
                offset: '6px'
            });
            layer.tips('温馨提示：请注意开关状态的文字可以随意定义，而不仅仅是ON|OFF', data.othis)
        });*/

        //监听提交
        form.on('submit(demo1)', function (data) {
            layer.alert(JSON.stringify(data.field), {
                title: '最终的提交信息'
            })
            return false;
        });

        //表单初始赋值
        /* form.val('example', {
             "username": "贤心" // "name": "value"
             ,"password": "123456"
             ,"interest": 1
             ,"like[write]": true //复选框选中状态
             ,"close": true //开关状态
             ,"sex": "女"
             ,"desc": "我爱 layui"
         })*/
    });
</script>

</body>
</html>