<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/layui/css/layui.css" th:href="@{/layui/css/layui.css}">
    <script src="/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <link rel="stylesheet" href="/styles/default.css" th:href="@{/styles/default.css}">
    <script src="../src/layui.js" th:src="@{/layui/layui.js}"></script>
    <style>
        .layui-elem-field {
            margin-bottom: 70px;
        }

        .layui-form-select dl dd.layui-this {
            background-color: #00c0ef;
            color: #fff;
        }

        #stylename {
            width: 398px;
            margin: 0px 0 20px 20px;
        }

        #filename {
            width: 270px;
            margin: -48px 0 0 420px;
        }
    </style>
</head>
<body>

<fieldset class="layui-elem-field" style="margin-top: 20px;height: 250px">
    <legend style="font-size: 15px;">上传代码风格</legend>
    <div class="layui-row">
        <div class="layui-col-xs12">
            <form class="layui-form layui-form-pane" style="margin: 20px 0 0 20px;" action="">
                <div class="layui-form-item">

                    <div class="layui-input-block">
                        <form class="layui-form" action="">
                            <div class="layui-inline" style="margin: 20px 0 10px 140px;">
                                <label class="layui-form-label" style="width: 114px;margin-right: 38px;">代码风格名</label>
                                <input type="text" id="stylename" name="title" class="layui-input" autocomplete="off" placeholder="代码风格名称">
                                <!--<div class="layui-inline" style="margin: 20px 0 10px 190px;">
                                    <label class="layui-form-label" style="width: 114px;margin-right: 38px;">代码风格</label>
                                    &lt;!&ndash;<div class="layui-input-inline" style="width: 325px;">

                                    </div>&ndash;&gt;
                                </div>-->
                            </div>
                        </form>
                    </div>
                </div>
            </form>
            <div>
                <button type="button" class="layui-btn" id="test3" style="background-color: #00c0ef;margin: 0 0 10px 270px"><i class="layui-icon"></i>上传文件</button>
                <input type="text" id="filename" name="title" class="layui-input" autocomplete="off" placeholder="上传 *.xml 文件">
                <button type="button" class="layui-btn" id="uploadFileBtn" style="background-color: #00c0ef;margin: -50px 0 10px 727px;">开始上传</button>
            </div>
        </div>
    </div>

</fieldset>

<fieldset class="layui-elem-field" style="margin-top: 20px;">
    <legend style="font-size: 15px;">项目配置</legend>
    <div class="layui-row">
        <div class="layui-col-xs12">
            <form class="layui-form" action="">
                <div class="layui-input-inline" style="width: 320px;margin: 20px 0 20px 270px">
                    <div id="styledetail" style="margin-bottom: 10px;color: red"></div>
                    <select name="modules" id="moduleselect" lay-verify="required" lay-search="">
                    </select>
                    <button type="button" class="layui-btn" onclick="select()" style="background-color: #00c0ef;margin: -75px 0 -14px 347px;width: 92px">选中风格</button>
                    <button type="button" class="layui-btn" onclick="deletestyle()" style="background-color: #00c0ef;margin: -107px 0 -14px 456px;width: 92px">删除风格</button>
                </div>
            </form>
        </div>
    </div>
</fieldset>

<script>
    layui.use('upload', function () {
        var upload = layui.upload, $ = layui.jquery;
        var uploadInst = upload.render({
            elem: '#test3'
            , url: '/core/uploadCodeStyle'
            , auto: false
            , accept: 'file' //普通文件
            , exts: 'xml'
            , field: 'file'
            , data: {
                codename: function () {
                    return $('#stylename').val();
                }
            }
            , choose: function (obj) {  //上传前选择回调方法
                obj.preview(function (index, file, result) {
                    var filename = file.name;
                    $('#filename').val(filename);
                });
            }
            , bindAction: '#uploadFileBtn'
            , done: function (res) {
                //console.log(res)
                layer.msg('上传成功', {icon: 1})
                setTimeout(function () {
                    window.location.reload();
                },1000)
            }
        });
    });
    $(document).ready(function () {
        $.ajax({
            url: '/core/getCodeStyles',
            type: 'get',
            async: false,
            dataType: 'json',
            success: function (res) {
                if (res.code == 200) {
                    var data = res.data
                    var select = document.getElementById("moduleselect");
                    for (var i = 0; i < data.length; i++) {
                        var codeName = data[i].codeName;
                        var filename = data[i].filename
                        var status = data[i].status
                        var opt = document.createElement("option")
                        opt.innerHTML = codeName
                        select.options.add(opt)
                        if (status === true) {
                            opt.setAttribute("selected","true");
                            $('#styledetail').text("您目前选中的是：" + codeName);
                        }
                    }
                }
                if (res.code === 403) {
                    layer.msg("没有配置文件", {icon: 5})
                }
            },
            error: function () {
            }
        })
    })

    function select(){
        var codeName = $('.layui-this').text();
        //console.log(codeName)
        $.ajax({
            url: '/core/updateCodeStyleStatus',
            type: 'post',
            async: false,
            dataType: 'json',
            data:{
                codename:codeName,
                //status:true
            },
            success:function(res){
                console.log(res)
                if(res.code===200){
                    layer.msg('修改风格成功', {icon: 1})
                    setTimeout(function(){
                        window.location.reload();
                    },1000);
                }
                if (res.code===403){
                    layer.msg('修改风格失败', {icon: 5})
                }
            },
            error:function(){
            }
        })
    }

   function deletestyle(){
       var codeName = $('.layui-this').text();
        $.ajax({
            url:'/core/deleteCodeStyle',
            type:'post',
            dataType:'json',
            data:{
                codename:codeName,
            },
            success:function(res){
                console.log(res)
                if (res.code===200){
                    layer.msg('删除代码风格成功', {icon: 1})
                    setTimeout(function () {
                        window.location.reload()
                    },1000)
                }
                if (res.code===403){
                    layer.msg('删除代码风格失败',{icon:5})
                }
            },
            error:function(){

            }
        })
   }

    layui.use(['form', 'layedit', 'laydate'], function () {
        var form = layui.form
            , layer = layui.layer
            , layedit = layui.layedit
            , laydate = layui.laydate;

        //监听提交
        form.on('submit(demo1)', function (data) {
            layer.alert(JSON.stringify(data.field), {
                title: '最终的提交信息'
            })
            return false;
        });

    });
</script>

</body>
</html>