<!DOCTYPE html>
<html xmlns:th="http://www.springframework.org/schema/mvc">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>扫描配置</title>
    <link rel="stylesheet" href="/layui/css/layui.css" th:href="@{/layui/css/layui.css}">
    <script src="/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <link rel="stylesheet" href="/styles/default.css" th:href="@{/styles/default.css}">
    <script src="../src/layui.js" th:src="@{/layui/layui.js}"></script>
    <style type="text/css">
        .layui-row{
            display: table;
            margin: 0 auto;
            width: 900px;
        }
        .layui-form-onswitch {
            border-color: #00c0ef;
            background-color: #00c0ef;
        }
    </style>
</head>
<body>
<div class="layui-row">
        <table class="layui-table" id="tabledata">
            <colgroup>
                <col width="300px">
                <col width="500px">
                <col width="100px">
            </colgroup>
            <thead>
            <tr>
                <th>选择系统功能</th>
                <th>功能描述</th>
                <th>开关</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
</div>
<script>
    $(document).ready(function () {
        $.ajax({
            url: '/core/analysisRules',
            type: 'get',
            async: false,
            dataType: 'json',
            success: function (res) {
                console.log(res)
                if(res.code===200){
                    var data = res.data;
                    for(var i = 0;i<data.length;i++){
                        var description = data[i].description;
                        var example = data[i].example;
                        var message = data[i].message;
                        var ruleName = data[i].ruleName;
                        var ruleStatus = data[i].ruleStatus;
                        if(ruleStatus===true){
                            var
                                $tr=$('<tr><td id="example'+(i+1)+'" data-example="'+example+'">'+ruleName+'</td><td>'+description+'</td><td><form class="layui-form" action=""><input type="checkbox" checked="" name="'+ruleName+'" lay-skin="switch" lay-filter="switchTest" lay-text="ON|OFF" value=""></form></td></tr>');
                            $(".layui-table").append($tr)
                        }else{
                            var
                                $tr=$('<tr><td id="example'+(i+1)+'" data-example="'+example+'">'+ruleName+'</td><td>'+description+'</td><td><form class="layui-form" action=""><input type="checkbox" name="'+ruleName+'" lay-skin="switch" lay-filter="switchTest" lay-text="ON|OFF" value=""></form></td></tr>');
                            $(".layui-table").append($tr)
                        }

                    }
                    var $button =
                        $('<tr><td colspan="3"><botton type="button" onclick="commit()" class="layui-btn layui-btn-normal layui-col-md3 layui-col-md-offset9">提交扫描配置</botton></td></tr>');
                    $(".layui-table").append($button)
                }else{
                    layer.msg('读取配置失败', {icon: 5});
                }
            }, error: function (e) {
            }
        })
      /*  for(var i=1;i<=20;i++) {
            var a = $('#example'+i)
            a.click(function () {
                for(var j=1;j<=20;j++){
                var message = $('#example'+j).attr("data-example");
                    confirm(message);
                }
            })
        }*/

        $('#example1').click(function () {
            var message = $('#example1').attr("data-example");
            console.log(message)
            confirm(message);
        })
        $('#example2').click(function () {
            var message = $('#example2').attr("data-example");
            console.log(message)
            confirm(message);
        })
        $('#example3').click(function () {
            var message = $('#example3').attr("data-example");
            console.log(message)
            confirm(message);
        })
        $('#example4').click(function () {
            var message = $('#example4').attr("data-example");
            console.log(message)
            confirm(message);
        })
        $('#example5').click(function () {
            var message = $('#example5').attr("data-example");
            console.log(message)
            confirm(message);
        })
        $('#example6').click(function () {
            var message = $('#example6').attr("data-example");
            console.log(message)
            confirm(message);
        })
        $('#example7').click(function () {
            var message = $('#example7').attr("data-example");
            console.log(message)
            confirm(message);
        })
        $('#example8').click(function () {
            var message = $('#example8').attr("data-example");
            console.log(message)
            confirm(message);
        })
        $('#example9').click(function () {
            var message = $('#example9').attr("data-example");
            console.log(message)
            confirm(message);
        })
        $('#example10').click(function () {
            var message = $('#example10').attr("data-example");
            console.log(message)
            confirm(message);
        })
        $('#example11').click(function () {
            var message = $('#example11').attr("data-example");
            console.log(message)
            confirm(message);
        })
        $('#example12').click(function () {
            var message = $('#example12').attr("data-example");
            console.log(message)
            confirm(message);
        })
        $('#example13').click(function () {
            var message = $('#example13').attr("data-example");
            console.log(message)
            confirm(message);
        })
        $('#example14').click(function () {
            var message = $('#example14').attr("data-example");
            console.log(message)
            confirm(message);
        })
        $('#example15').click(function () {
            var message = $('#example15').attr("data-example");
            console.log(message)
            confirm(message);
        })
        $('#example16').click(function () {
            var message = $('#example16').attr("data-example");
            console.log(message)
            confirm(message);
        })
        $('#example17').click(function () {
            var message = $('#example17').attr("data-example");
            console.log(message)
            confirm(message);
        })
        $('#example18').click(function () {
            var message = $('#example18').attr("data-example");
            console.log(message)
            confirm(message);
        })
        $('#example19').click(function () {
            var message = $('#example19').attr("data-example");
            console.log(message)
            confirm(message);
        })
        $('#example20').click(function () {
            var message = $('#example20').attr("data-example");
            console.log(message)
            confirm(message);
        })

        function reload() {
            var len = $('#tabledata tr td').find("input").length
            for(var i=1; i<=len; i++)
            {
                var name = $("#tabledata tr").eq(i).find("input:first").attr("name");
                var checked = $("#tabledata tr").eq(i).find("input:first").attr("checked");

                //console.log(name+":" +checked)
                if (checked === 'checked') {
                    $('input').attr('value',1)
                } else {
                    $('input').attr('value',0)
                }
            }
        }
    })

    function commit(){
      var datas = collectData();

      console.log(datas);

//        $.post("/core/setAnalysisRules",{"rules":datas,
//                "abc": "abc", "test":[1,2,3]},function(data){
//        },'json');
        $.ajax({
            url:"/core/setAnalysisRules",
            type:'post',
            contentType:"application/json",
//            contentType:"",
            dataType:'json',
            data: JSON.stringify(datas),

            success:function(res){
                layer.msg('修改配置成功', {icon: 1});
            },error:function(){

            }
        });

    }
    function collectData() {
        var map;
        var len = $('#tabledata tr td').find("input").length
        var datas = [];
        for(var i=1; i<=len; i++)
        {
            var name = $("#tabledata tr").eq(i).find("input:first").attr("name");
            var checked = $("#tabledata tr").eq(i).find("input[type='checkbox']").is(':checked');
           if (checked == true) {
                 $('input').attr('value',1)
            } else {
                    $('input').attr('value',0)
            }
            var value = $("#tabledata tr").eq(i).find("input:first").attr("value");
            //var data={}
            var data={};
            data.ruleName = name;
            data.status  = value;
//           var data  = {"ruleName" : name,"status":value}
            datas.push(data)
        }

        //console.log(datas);
      return datas
    }


    layui.use(['form','element', 'layer'], function () {
        var form = layui.form,layer = layui.layer;
        var element = layui.element;
        var layer = layui.layer;
        element.on('collapse(test)', function(data){
            layer.msg('展开状态：'+ data.show);
        });
        //监听指定开关
        form.on('switch(switchTest)', function (data) {
            /*layer.msg('开关checked：' + (this.checked ? 'true' : 'false'), {
                offset: '6px'
            });*/
        });
    });

</script>

</body>
</html>