<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/layui/css/layui.css" th:href="@{/layui/css/layui.css}">
    <link rel="stylesheet" href="/styles/default.css" th:href="@{/styles/default.css}">
    <link rel="stylesheet" href="/css/zTreeStyle/zTreeStyle.css" th:href="@{/css/zTreeStyle/zTreeStyle.css}"
          type="text/css">
    <link rel="stylesheet" href="/styles/default.css" th:href="@{/styles/default.css}">
    <script src="/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}"></script>
</head>
<body>
<div style="display: inline-block; width: 180px; height: 210px; padding: 10px; border: 1px solid #ddd; overflow: auto;">
    <ul id="demo1"></ul>
</div>
</body>
<script>
    $('#id').on('click', function() {
        $('#yourinputname').trigger('click');
    });
</script>
<script src="../src/layui.js" th:src="@{/layui/layui.js}"></script>
<script src="../src/layui.js" th:src="@{/js/me.js}"></script>
</html>